<footer class="footer-container text-center text-white">
  <div class="p-4 pb-0">
    <section class="mb-4">
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/ianarodrigues/"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/ianarodrigues"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    
  </div>
  <div class="text-center p-3">
    © 2023 Developed by: Iana Rodrigues
  </div>
</footer>


